<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="phonegap-plugin-contentsync-tests"
    version="1.0.0">
    <name>PhoneGap Content Sync Plugin Tests</name>
    <license>Apache 2.0</license>

    <dependency id="cordova-plugin-file" version=">=4.0.0" />

    <!-- ensure proper file plugin setting -->
    <config-file target="config.xml" parent="/*">
        <preference name="iosPersistentFileLocation" value="Library" />
    </config-file>

    <js-module src="tests.js" name="tests">
    </js-module>

    <!-- add test file that is enumerated before the directories (see issue #84) -->
    <asset src="anyfile.txt" target="anyfile.txt" />
</plugin>
